frontendspace.duckdns.org {
    @protected {
        not path /api/v1/bootstrap
    }

    basic_auth @protected {
        admin $2b$14$ud2HrYpVFa9mVVRGBjkzF.fRyZi7fkVClKXmUox.lglaYD5o8HTR6
    }

    reverse_proxy af-poc:5050
}
